<header>
  <h1>Todo List</h1>

  <span
    >Todo list angular 17 and standalone</span
  >
</header>

<main class="main">
<div class="main__controls">
  <button (click)="addGroup()" class="button">Add a Group</button>
</div>

  <app-todo-group
   [index]="i" 
   [todoGroup]="group" 
   (changeTitleEvent)="handleChangeTitle($event)"
   (deleteGroup)="handleDeletegroup($event)"
   (addNewItem)="handleNewItem($event)"
   (changeDescription)="handleChangeDescription($event)"
   (changeItemStatus)="handleChangeStatus($event)"
   (deleteItem)="handleDeleteItem($event)"
   *ngFor="let group of todoGroups; let i = index;"
   ></app-todo-group>
</main>